*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before, *:after{
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

button{cursor: pointer;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}

/*************************************************************************/





body {
    background-color: #191919;
    font-family: Raleway;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(25, 25, 25, 0.50);
    backdrop-filter: blur(12px);
    z-index: 9;
    border-bottom: #353535 1px solid;
}

.header__cnt {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: auto;
    margin-bottom: auto;
    /* max-width: 1000px; */
    margin-right: auto;
    margin-left: auto;
    height: 90px;
    align-content: center;
    /* position: fixed; */
}

.header__logo__link {
    margin-top: auto;
    margin-bottom: auto;
}

.header__logo {
    /* width: 100px; */
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    margin-top: 20px;
    
}

.team__logo__link {
    /* padding-top: 15px; */
    margin-top: auto;
    margin-bottom: auto;
    /* margin-top: 20px; */
}
.team__logo {
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}

.header__logo__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}


.header__txt {
    display: flex;
    width: 420px;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.header__link {
    color: #F3E1B2;
    font-size: 18px;
}
.header__link:hover {
    color: #f1f0ed;
    transition-duration: 0.3s;
}

.header__logo__link {
    height: auto;
    align-items: center;
    align-content: center;
    height: 90px;
}

@keyframes animationgradient {
    0% {
        background-position: 0 1600px;
    }
    50% {
        background-position: 1600px 0;
    }
    100% {
        background-position: 0 1600px;
    }
}

.content__heading {
    /* padding-top: 100px; */
    font-size: 150px;
    font-weight: 500;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 150px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%;
    text-transform: uppercase;
    background: linear-gradient(91deg, #C7E7CB -0.13%, #EDE9AD 33.76%, #FBC9C3 67.65%, #AAC8FF 103.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* position: relative; */
    /* bottom: 0; */
    animation-duration: 10s;
    animation-name: animationgradient;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.content {
    /* width: 100%; */
    /* padding-top: 450px; */
    padding-left: 60px;
    padding-right: 60px;
    height: 880px;
    position: relative;
    /* overflow: hidden; */
    /* position: absolute; */
}

.content__cnt {
    /* position: relative;
    top: 300px; */
    height: 500px;
    position: absolute; 
    bottom: 0px;
    top: 50%;
}

.content__names {
    padding-top: 30px;
    /* width: 1000px; */
    display: flex;
    color: #585858;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.content__name {
    border-radius: 200px;
    display: flex;
    padding: 25px 40px;
    justify-content: center;
    align-items: center;
    border: 6px solid #595959;
    margin-right: 10px;
    color: #585858;
    transition-duration: 0.3s;
}

.content__name:hover {
    color: #191919;
    background: #585858;
    transition-duration: 0.3s;
}

.cards {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.card {
    /* width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between; */
}
.card__cnt {
    transition-duration: 0.3s;
    width: 320px;
    height: 420px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    padding-top: 20px;

}
.card__img {
    width: 280px;
    height: 280px;
    border-radius: 16px;
    /* background: #202020; */
    margin-right: auto;
    margin-left: auto;
}
.card__name {
    color: #FFF;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-left: 26px;
    margin-top: 20px;
}
.card__class {
    color: #D9D9D9;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-top: 5px;
    margin-left: 26px;
}

/* .active {
    background: #fff;
} */

.card__cnt:hover {
    transform: scale(1.05, 1.05);
    transition-duration: 0.3s;
}

.card__popup {
    position: fixed;
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(12px);
    scale: 0;
    transition-duration: 0.3s;
    /* display: none; */
}

.card__cnt__popup {
    /* padding: 0; */
    margin: 0;
    position: relative;
    top: 50%;
    margin-top: -330px;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 660px;
    padding-top: 40px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px #D9D9D9 solid;
}

.activeAlisa {
    scale: 1;
    transition-duration: 0.3s;
}
.activeSaid {
    scale: 1;
    transition-duration: 0.3s;
}
.activeGunay {
    scale: 1;
    transition-duration: 0.3s;
}
.activeMalik {
    scale: 1;
    transition-duration: 0.3s;
}

.card__img__popup {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
}

.card__name__popup {
    /* margin-left: 40px; */
    position: relative;
    margin: 0;
}

.card__class__popup {
    /* margin-left: 40px; */
    margin: 0;
    margin-top: 10px;
}

.cards__popup__txt {
    /* height: 35px; */
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.card__popup__body {
    color: #D9D9D9;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.line {
    border-top: 1px white solid;
    width: 360px;
    margin-top: 40px;
    position: absolute;
    padding-bottom: 100px;
    margin-left: 40px;
    bottom: 0;
}

.card__skills {
    position: absolute;
    bottom: 0;
    width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding-left: 40px;
    padding-bottom: 20px;
}
.card__flex {
    display: flex;
    margin-top: 7px;
}
.card__skill {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    background: #F8C9C6;
    border-radius: 100px;
    padding: 5px 15px;
    margin-right: 7px;
    /* padding-right: 40px; */
}

.card__class {
}
.more {
    margin-top: 30px;
    color: #a1a1a1;
}

.card__flexx {
    display: flex;
    padding-right: 40px;
    width: 100%;
    justify-content: space-between;
}


.circle {
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
    pointer-events: none;
    position: fixed;
    top: -10rem;
    left: -10rem;
    height: 2rem;
    width: 2rem;
    transition: transform 0.4s, background 0.4s;
    z-index: 999;
}

.circle.big {
    background: white;
    transform: scale(2);
}

html {
    scroll-behavior: smooth;
}

#said .card__img, #saidPopup .card__img {
    background-image: url('media/said.jpg');
    background-size: 100% auto;
}

#gunay .card__img, #gunayPopup .card__img {
    background-image: url('media/gunay.JPG');
    background-size: 100% auto;
    background-position: 50% 50%;
}

#alisa .card__img, #alisaPopup .card__img {
    background-image: url('media/alisa.png');
    background-size: 130% auto;
    background-position: top left;
}

#malik .card__img, #malikPopup .card__img {
    background-image: url('media/malik.jpg');
    background-size: 100% auto;
    background-position: top left;
}